Repository Dmitriyrus99/ERP, changes with the owners that CODEOWNERS names for each.
All owners: @deepeshgarg007, @ruthra-kumar, @anandbaburajan, @khushi8112, @rohitwaghchaure, @ankush, @akhilnarang

fix: improved indexing for SLE queries.
  erpnext/patches.txt
  erpnext/patches/v15_0/drop_sle_indexes.py
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.json
  erpnext/stock/doctype/stock_ledger_entry/stock_ledger_entry.py
  erpnext/stock/report/available_batch_report/available_batch_report.py
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
  erpnext/stock/report/fifo_queue_vs_qty_after_transaction_comparison/fifo_queue_vs_qty_after_transaction_comparison.py
  erpnext/stock/report/stock_analytics/stock_analytics.py
  erpnext/stock/report/stock_ledger_invariant_check/stock_ledger_invariant_check.py
  erpnext/stock/stock_ledger.py
  erpnext/tests/test_perf.py
Owners: @deepeshgarg007, @rohitwaghchaure

build(deps): bump rapidfuzz
  pyproject.toml
Owners: @akhilnarang

fix: return the variant conversion factor first and fallback on the template if not exist (#47305)
  erpnext/stock/get_item_details.py
Owners: @rohitwaghchaure

refactor: item tax amount calculation for valuation rate
  erpnext/controllers/buying_controller.py
Owners: @deepeshgarg007, @rohitwaghchaure

Update subscription.py to allow following calendar months w/ yearly sub
  erpnext/accounts/doctype/subscription/subscription.py
Owners: @deepeshgarg007, @ruthra-kumar

refactor(test): make persistent company records
  erpnext/setup/doctype/company/test_company.py
  erpnext/tests/utils.py
Owners: none

Update subscription.py to allow following calendar months w/ yearly sub
  erpnext/accounts/doctype/subscription/subscription.py
Owners: @deepeshgarg007, @ruthra-kumar

Update subscription.json to match
  erpnext/accounts/doctype/subscription/subscription.json
Owners: @deepeshgarg007, @ruthra-kumar

fix(report): include descendants when filtering by parent item group
  erpnext/accounts/report/item_wise_sales_register/item_wise_sales_register.py
Owners: @deepeshgarg007, @ruthra-kumar

Update work_order.py
  erpnext/manufacturing/doctype/work_order/work_order.py
Owners: @rohitwaghchaure

fix: auto append_taxes_from_item_tax_template in backend
  erpnext/controllers/accounts_controller.py
  erpnext/controllers/tests/test_accounts_controller.py
Owners: @deepeshgarg007, @rohitwaghchaure

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

erpnext/accounts/               @deepeshgarg007 @ruthra-kumar
<<<<<<< HEAD
erpnext/assets/                 @anandbaburajan @deepeshgarg007
erpnext/loan_management/        @deepeshgarg007
=======
erpnext/assets/                 @khushi8112 @deepeshgarg007
>>>>>>> 9a758ea826 (chore: update `CODEOWNERS` (#44074))
erpnext/regional                @deepeshgarg007 @ruthra-kumar
erpnext/selling                 @deepeshgarg007 @ruthra-kumar
erpnext/support/                @deepeshgarg007
pos*                            

erpnext/buying/                 @rohitwaghchaure
erpnext/maintenance/            @rohitwaghchaure
erpnext/manufacturing/          @rohitwaghchaure
erpnext/quality_management/     @rohitwaghchaure
erpnext/stock/                  @rohitwaghchaure
erpnext/subcontracting          @rohitwaghchaure

erpnext/controllers/            @deepeshgarg007 @rohitwaghchaure
erpnext/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
<<<<<<< HEAD
pyproject.toml                  @ankush
=======
pyproject.toml                  @akhilnarang
>>>>>>> 9a758ea826 (chore: update `CODEOWNERS` (#44074))
